.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #020220;
}


@keyframes colorChange {
    0% {
        color: #333;
    }


    60% {
        color: #808080;
    }


    100% {
        color: #333;
    }
}

.waveLetter {
    display: inline-block;
    animation: wave 2.5s ease-in-out infinite;
    animation-delay: 0s;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    /* 使用 transform 在两个方向都居中 */
    transform: translate(-50%, 0%);
    font-size: 45px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 0 1px #ccc,
        0 1px 1px #ddd,
        2px 1px 1px #ccc,
        1px 2px 1px #ddd,
        3px 2px 1px #ccc,
        2px 3px 1px #ddd,
        4px 3px 1px #ccc,
        3px 4px 1px #ddd;
    animation: colorChange 4s ease-in-out infinite;
    margin-top: 25px;
}